h1{
    text-align: center;
    color: #00B1F0;
    text-shadow: 1px 1px 2px #00B1F0;
    
}
h2{
    color: #0381af;
    

}
h3{
    color: #0381af;
    
    font-family: cursive;
}
p{
    text-align: justify;
    font-size: larger;
    
}
/*paleta de cores #0DFDFD #00FA6 #0BE3A6 C #0BE32C #34FD0D*/

